
useDynLib(TransView)

import(zlibbioc)
importFrom("IRanges",IRanges,RleList)
importFrom("GenomicRanges",GRanges)
importFrom("gplots",colorpanel,greenred)
importMethodsFrom("IRanges",reduce,start,end,values,"ranges<-")
importMethodsFrom("GenomicRanges",as.data.frame,"elementMetadata<-",seqnames,names)
import(methods)
import(Rsamtools)


exportClasses(DensityContainer)
export(plotTV,parseReads,rmTV,annotatePeaks,gtf2gr,macs2gr,peak2tss,meltPeak)
exportMethods(show,sliceN,slice1,sliceNT,slice1T,tvStats,plotTVData,
histogram,ex_name,origin,spliced,paired,readthrough_pairs,filtered,strands,
nreads,gcoverage,maxScore,lowqual,paired_reads,proper_pairs,collapsed,
compression,chromosomes,filtered_reads,pos,neg,lcoverage,lmaxScore,
fmapmass,env,data_pointer,"spliced<-","ex_name<-",size,parameters,
cluster_order,clusters,summaryTV,lsize,gsize
)


